@charset "UTF-8";

.box2::after {
  content: "";
  clear: both;
  display: block;
}

.box2>.box2-1 {
  width: 50%;
  float: left;
}
.box2>.box2-2 {
  width: 50%;
  float: left;
}
.box4::after {
  content: "";
  clear: both;
  display: block;
}
.box4>.box4-1 {
  width: 20%;
  float: left;
}
.box4>.box4-2 {
  width: 60%;
  float: left;
}
.box4>.box4-3 {
  width: 20%;
  float: left;
}
