@charset "UTF-8";

.boxA::after {
  content: "";
  clear: both;
  display: block;
}

.boxA>.boxA-1 {
  width: 20%;
  float: left;
}

.boxA>.boxA-2 {
  width: 80%;
  float: left;
}

.boxC::after {
  content: "";
  clear: both;
  display: block;
}

.boxC>.boxC-1 {
  width: 33.3333%;
  float: left;
}

.boxC>.boxC-2 {
  width: 33.3333%;
  float: left;
}

.boxC>.boxC-3 {
  width: 33.3333%;
  float: left;
}

.boxD::after {
  content: "";
  clear: both;
  display: block;
}

.boxD>.boxD-1 {
  width: 20%;
  float: left;
}

.boxD>.boxD-2 {
  width: 80%;
  float: left;
}