@charset 'utf-8';

/* 전체설정 */

ul {
  list-style: none;
}
a {
  color: cornsilk;
  text-decoration: none;
}


/* 인터페이스 영역설정 */
    .interface {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 5%;
      width: 15%;
      font-size: 30px;
    }

.interface>ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: crimson;
}

.interface>ul>li {
  display: block;
  width: 50%;
  text-align: center;
  padding: 5px 0;
}

.interface>ul>li>a {}

/* 헤더 영역설정 */
.header {}

.header>h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header>h1>a {
  display: block;
  text-align: center;
}


.menu_btn {}

.menu {
  padding: 10px 0;
}

.menu>ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  width: auto;
  
}

.menu>ul>li {
  display: block;
}

.menu>ul>li>a {
  font-size: 30px;
  font-weight: bold;
}

/* 슬라이더 영역설정 */

.slider_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-indent: -10000px;
}

.slider_section>.prev_btn {
  background-image: url(../img/slider_arrow.png);
  width: 34px;
  height: 39px;
  cursor: pointer;
  margin-left: -10px;
}

.slider_section>.next_btn {
  background-image: url(../img/slider_arrow.png);
  background-position: right;
  width: 34px;
  height: 39px;
  cursor: pointer;
  margin-right: -10px;
}

/* 갤러리 영역설정 */

.gallery_section {

}
.gallery_list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 10%;
}
.gallery_list>.pic1 {
  display: block;
  width: 100%;
  padding: 20px 0;
  margin: 10px 0;
}
.gallery_list>.pic1 img {
  width: 75%;
}
.gallery_list>.pic2 {
  display: block;
  width: 100%;
  padding: 20px 0;
  margin: 10px 0;
}
.gallery_list>.pic2 img{
  width: 75%;
}
/* 인기검색어 영역설정 */
.rank_up_section, .last_text_section, .popular_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rank_up_section>h2, .last_text_section>h2, .popular_text_section>h2 {
  padding: 10px 0;
}
.rank_up_list {}
.rank_up_list>li, .last_text_list>li, .popular_text_list>li {
  padding: 5px 0;
}

/* 배너 영역설정 */
.banner_section {}
.banner_section>.banner_box_1 {}
.banner_section>.banner_box_2 {}

/* 소셜 영역설정 */
.social_section {}
.social_section>ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height: 100%;
}
.social_section>ul>li {
  display: block;
  background-color: black;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
}
.social_section a {}
.social_section i {
  font-size: 40px;
}

/* 해상도설정########################## */
/* 모바일-320px */
@media (max-width:767px) {
  #wrap {
    flex-direction: column;
  }

  /* 인터페이스 m */
  .interface {
    position: relative;
    z-index: 0;
    top: 0;
    right: 0;
    width: 100%;
    font-size: 40px;
  }

  .interface>ul {
    background-color: brown;
  }
  .interface>ul>li {
    width: 25%;
    padding: 15px 0;
  }

  /* 헤더 m */
  .header {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header>h1 {
    position: relative;
  }

  .menu_btn {
    width: 80%;
    background-color: crimson;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
  }

.menu {
  background-color: darkred;
  width: 100%;
  height: 100%;
  /* 잠시안보이게 */
  display: none;
}

  .menu>ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu_btn>a {
    display: block;
    padding: 0 10%;
    text-decoration: none;
    color: cornsilk;
  }

.menu {}
.menu>ul {}

  /* 오더설정---------------- */
  .interface {
    order: 0;
  }

  .header {
    order: 1;
  }

  .slider_section {
    order: 2;
  }

  .gallery_section {
    order: 5;
  }

  .rank_up_section {
    order: 6;
  }

  .last_text_section {
    order: 3;
  }

  .popular_text_section {
    order: 4;
  }

  .banner_section {
    order: 7;
  }

  .social_section {
    order: 8;
  }

  .footer {
    order: 9;
  }
}

/* 테블릿-786px */
@media (min-width:768px) and (max-width:1279px) {
    /* 인터페이스 t */
    .interface {
      position:static;
      z-index: 0;
      top: 0;
      right: 0;
      width: 100%;
      font-size: 40px;
    }

.interface>ul {
  background-color: brown;
  height: 90px;
  
}
.interface>ul>li {
  width: 25%;
}
  /* 헤더 t */
  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
  }

  .header>h1 {
    position: absolute;
  }

  .menu {
    background-color: darkred;
    position: absolute;
    top: 106px;
    width: 50%;
    height: fit-content;
    display: block;
    /* 잠시안보이게 */
    display: none;
  }
  
    .menu>ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: fit-content;
    }
    .menu>ul>li {
      width: 80%;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      margin: 5px 10px;
    }

    .menu>ul>li i {
      color: cornsilk;
      font-size: 30px;
    }

    .menu_btn {
      width: 80%;
      background-color: crimson;
      font-size: 50px;
      display: flex;
      align-items: center;
      justify-content: end;
    }
    .menu_btn>a {
      padding: 20px 50px;
    }



  /* 오더설정---------------- */
  .interface {
    order: 0;
  }

  .header {
    order: 1;
  }

  .slider_section {
    order: 2;
  }

  .gallery_section {
    order: 7;
  }

  .rank_up_section {
    order: 3;
  }

  .last_text_section {
    order: 4;
  }

  .popular_text_section {
    order: 5;
  }

  .banner_section {
    order: 8;
  }

  .social_section {
    order: 6;
  }

  .footer {
    order: 9;
  }
}

/* 웹-1280px */
@media (min-width:1280px) {
  .slider_section {
    height: auto;
  }

  .menu_btn, .menu_sub_btn {
    display: none;
  }



  
/* 오더설정---------------- */
.interface {
  order: 0;
}

.header {
  order: 1;
}

.slider_section {
  order: 2;
}

.gallery_section {
  order: 3;
}

.rank_up_section {
  order: 4;
}

.last_text_section {
  order: 5;
}

.popular_text_section {
  order: 6;
}

.banner_section {
  order: 7;
}

.social_section {
  order: 8;
}

.footer {
  order: 9;
}
}