@charset 'utf-8';
/* https://dev.to/gksander/a-keyboard-display-using-css-grid-2k2n */
/* https://studiomeal.com/archives/533 */
/* keysize:64px */
/* border-radius: 4px */
.keyboard {
  display: grid;
  justify-content: center;
  /* background-color:; */
  /* color:; */
  font-size: 16px;
  grid-template-columns: repeat(74, 17px );
  grid-template-rows: repeat(12, 34px);
  grid-column-gap: 0px;
  grid-row-gap: 8px;
  /* letter-spacing: 1px; */
  padding: ;
  background-color: aqua;
}
.keyboard>div {
  display: flex;
  justify-content: center;
  align-items: center;
}