/* 언어설정 */
@charset "utf-8";
/* 구글폰트설정 */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* 전체설정 */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* 기본CSS */
/* 로고설정 */
.logo {
  font-size: 30px;
  font-weight: normal;
  font-family: 'Paytone One', sans-serif;
}

.logo>a {
  text-decoration: none;
  color: #8a9d9e;
}

/* 메뉴설정 */
.gnb>ul {
  display: flex;
}

.gnb>ul>li {
  width: auto;
}

.gnb>ul>li>a {
  display: block;
  padding: 10px;
  font-size: 14pt;
}

.box2 {
  background-color: #7cbac1;
  padding: 5px;
}

/* 기사설정 */
.story {}

.story h2 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top 0;
}

.story time {
  display: block;
  padding: 10px 0;
}


.story p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.story img {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.story h3 {
  margin-top: 40px;
  border-left: solid 10px #7cbac1;
  padding-left: 10px;
  font-weight: normal;
  font-size: 24px;
}

/* 박스간격설정 */
/* 위아래간격 */
/* 마진간격설정 */
.box1 {
  margin-top: 8px;
  margin-bottom: 10px;
}

.box3 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.box4 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.box5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* 미디어쿼리구간------------------------------------- */
/* 모바일구간 */
/* 태블릿구간 */
/* 768px 이상일떄 ---------------- */
@media (min-width: 768px) {

  /* 박스3-박스4 가로정렬 */
  .box3 {
    width: 70%;
    float: left;
  }

  .box4 {
    width: 30%;
    float: left;
  }

  .boxA::after {
    content: "";
    clear: both;
    display: block;
  }
}

/* 웹구간 */
/* 1280px 이상일때----------------- */
@media (min-width: 1280px) {

  .box1,
  .boxA,
  .gnb {
    width: 1190px;
    margin: 0 auto;
  }
}