/* 언어설정 */
@charset "utf-8";
/* 구글폰트설정 */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* 전체설정 */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* 기본CSS */
/* 로고설정 */
.logo {
  font-size: 30px;
  font-weight: normal;
  font-family: 'Paytone One', sans-serif;
}

.logo>a {
  text-decoration: none;
  color: #8a9d9e;
}

/* 메뉴설정 */
.gnb>ul {
  display: flex;
}

.gnb>ul>li {
  width: auto;
}

.gnb>ul>li>a {
  display: block;
  padding: 10px;
  font-size: 14pt;
}

.box2 {
  background-color: #7cbac1;
  padding: 5px;
}

/* 기사설정 */
.story {}

.story h2 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top 0;
}

.story time {
  display: block;
  padding: 10px 0;
}


.story p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.story img {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.story h3 {
  margin-top: 40px;
  border-left: solid 10px #7cbac1;
  padding-left: 10px;
  font-weight: normal;
  font-size: 24px;
}
.sidemenu {
  margin-bottom: 30px;
}
.sidemenu h3 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dotted 2px #ddd;
  font-size: 18px;
  color: #666;
}
.sidemenu ul {}
.sidemenu li {}
.sidemenu li a {
  display: block;
  padding: 5px;
  font-size: 14px;
}
.sidemenu li a i {
  color: #888;
  margin-right: 5px;
  font-size: 16px;
}
/* 추천기사 */
.recommend {
  margin-bottom: 30px;
}
.recommend h3 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dotted 2px #ddd;
  font-size: 18px;
  color: #666;
}
.recommend ul {}
.recommend li {}
.recommend li a {
  display: block;
  margin: 20px 5px;
  font-size: 14px;
  position: relative;
}
.recommend li a img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.recommend li a div {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* 투명도조절,전체투명 */
  /* opacity: 0.5; */
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
}

/* 인기기사 */
.popular {}
.popular h3 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dotted 2px #ddd;
  font-size: 18px;
  color: #666;
}
.popular ul {}
.popular li {}
.popular li a::after {
  content: "";
  display: block;
  clear: both;
  padding: 5px;
  border-bottom: dotted 1px #ddd;
}
.popular img {
  float: left;
  width: 60px;
}
.popular .text {
  float: none;
  width: auto;
  margin-left: 70px;
  font-size: 14px;
  color: #2288bb;
}
.popular span {
  color: #666;
  display: block;
  font-size: 12px;
}
/* sns설정 */
.sns {
  margin-top: 40px;
}
.sns ul {
  display: flex;
}
.sns ul li {
  flex: 1;
}
.sns ul li a {
  display: block;
  text-align: center;
  padding: 10px 0px;
  color: #fff;
  font-size: 12px;
}
.sns ul li:nth-child(1) {
  background-color: #1da1f2;
}
.sns ul li:nth-child(2) {
  background-color: #1877f2;
}
.sns ul li:nth-child(3) {
  background: #405de6;
  background: -moz-linear-gradient(-45deg,  #405de6 1%, #405de6 1%, #833ab4 25%, #e1306c 50%, #f56040 75%, #fcaf45 100%);
  background: -webkit-linear-gradient(-45deg,  #405de6 1%,#405de6 1%,#833ab4 25%,#e1306c 50%,#f56040 75%,#fcaf45 100%);
  background: linear-gradient(135deg,  #405de6 1%,#405de6 1%,#833ab4 25%,#e1306c 50%,#f56040 75%,#fcaf45 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#405de6', endColorstr='#fcaf45',GradientType=1 );
}
.sns ul li a i {}
/* 관련기사 설정 */
.relation {
  margin-top: 40px;
  background-color: #f0f0d4;
  padding: 20px;
}
.relation h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #727224;
}
.relation ul::after {
content: "";
clear: both;
display: block;

}
.relation ul li {
  float: left;
  width: 25%;
}
.relation ul li a {
  display: block;
  padding: 5px;
}
.relation ul li a i {
  width: 100%;
}
.relation .text {
width: 150px;
  font-size: 12px;
  text-align: center;
}

/* 푸터설정 */
.box5 {
  border-top: solid 1px #333;
}
.copyright {
  color: #666;
  font-size: 14px;
}

/* 박스간격설정 */
/* 위아래간격 */
/* 마진간격설정 
.box1 {
  margin-top: 8px;
  margin-bottom: 10px;
}

.box3 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.box4 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.box5 {
  margin-top: 15px;
  margin-bottom: 15px;
}*/

/* 패딩간격설정 */
.box1 {
  padding-top: 8px;
  padding-bottom: 10px;
}

.box3 {
  padding-top: 40px;
  padding-bottom: 30px;
}

.box4 {
  padding-top: 40px;
  padding-bottom: 30px;
}

.box5 {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* .box1 {
  background-color: blueviolet;
}
.box3 {
  background-color: aqua;
}
.box4 {
  background-color: yellowgreen;
}
.box5 {
  background-color: #333;
} */

/* 미디어쿼리구간------------------------------------- */
/* 모바일구간 */
/* 태블릿구간 */
/* 768px 이상일떄 ---------------- */
@media (min-width: 768px) {

  /* 박스3-박스4 가로정렬 */
  .box3 {
    width: 70%;
    float: left;
  }

  .box4 {
    width: 30%;
    float: left;
  }

  /* 박스3-박스4 좌우간격 */
  .box3 {
    padding-right: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: bord;
  }


  .boxA::after {
    content: "";
    clear: both;
    display: block;
  }
}



/* 웹구간 */
/* 1280px 이상일때----------------- */
@media (min-width: 1280px) {

  .box1,
  .boxA,
  .gnb,
  .copyright {
    width: 1190px;
    margin: 0 auto;
  }
}